.container{
  background-color: rgb(213, 213, 211);
  color: cadetblue;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font: bold;
  background-size: cover;
 }

 .block {
    display: block;
    width: 100%;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }